<%= render 'shared/navigation' %>

<div class="recipe_page">
  <h2>Recipes</h2>

  <%= link_to "New recipe", new_recipe_path, class: 'new_recipe' %>

  <section class="recipes">
    <% @recipes.each do |recipe| %>
      <% if recipe.user == current_user %>
      <div class="recipe_column">
        <div>
          <%= render recipe %>
          <p>
            <%= link_to "Show this recipe", recipe, class: 'link' %>
          </p>
        </div>
        <div class="summary">
          <p>
            <%= recipe.description %>
          </p>
          <div class="confirm">
            <%= button_to "Remove", recipe, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </section>
</div>
