<div class="public_recipe">
  <div class="public_recipe_container">
    <h1>
      Public Recipes
    </h1>
    <% @public.each do |recipe| %>
      <div class="contain">
        <div class="recipe">
          <h2><%= recipe.name %></h2>
          <div>
            <p style="font-size: 22px">Total food items : <%= recipe.foods.count %></p>
            <p style="font-size: 22px">Total price : $<%= recipe.recipe_foods.sum{ |food| food.quantity * food.food.price } %></p>
          </div>
        </div>
        <div style="display: flex; align-items: center; gap: 20px">
          <h4>By <%= recipe.user.name %></h4>
          <div class="recipe_buttons">
            <a href="/recipes/<%= recipe.id %>" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
