<main>
  <p style="color: green"><%= notice %></p>

  <%= render @recipe %>

  <div>
    <%= link_to "Back to recipes", recipes_path %>

    <%= button_to "Destroy this recipe", @recipe, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
  </div>
  <section class="recipe_detail">
    <p> Preparation Time: <%= @recipe.preparation_time %> hour </p>
    <p> Cooking Time: <%= @recipe.cooking_time %> hour </p>
    <p> <%= @recipe.description %> </p>
  </section>
  <table class="food-table">
    <thead>
      <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Value</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @recipe.recipe_foods.each do |recipe_food| %>
        <% food = recipe_food.food %>
        <tr>
          <td><%= food.name %></td>
          <td><%= recipe_food.quantity %></td>
          <td>$<%= food.price * recipe_food.quantity %></td>
          <td>
            <%= link_to 'Modify', '#', class: 'action_link' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</main>
