
<%= render 'shared/navigation' %>

<section class="recipe_page">
  <h2>Shopping List</h2>
  <div class="shop_list">
    <h3> Amount of food item to buy: <%= @quantity.size %></h3>
    <h3> Total price: $<%= @total %></h3>
  </div>
  <table>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
    <% @final_list.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.quantity %> <%= food.measurement_unit%></td>
        <td>$<%= food.price * food.quantity %></td>
      </tr>
    <% end %>
  </table>
</section>
