
<%= render 'shared/navigation' %>

<section class="recipe_page">
  <h2>Shopping List</h2>
  <div class="shop_list">
    <h3> Amount of food item to buy: <%=  @total_foods %></h3>
    <h3> Total price: $<%= @total_price %></h3>
  </div>
  <table>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
    <% @food_items_to_buy.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= "#{item.quantity} #{item.measurement_unit}" %> </td>
        <td>$ <%= item.price %></td>
      </tr>
    <% end %>
  </table>
</section>
