<p style="color: green"><%= notice %></p>

<div class="show">
<table class="table table-striped">
  <thead>
  <tr>
    <th>Food</th>
    <th>Measurement unit</th>
    <th>Unit price</th>
    <th>Quantity</th>
  </tr>
  </thead>
  <tbody>
  <tr id="<%= dom_id @food %>">
  <td>
    <strong><%= @food.name %></strong>
  </td>
  <td>
    <strong><%= @food.measurement_unit %></strong>
  </td>
  <td>
    <strong>$<%= @food.price %></strong>
  </td>
  <td>
    <strong><%= @food.quantity %></strong>
  </tr>
  </tbody>
</table>
<div class="confirm">
  <%= button_to "Confirm delete!", @food, method: :delete %>
  <%= link_to "Back to foods", foods_path %>
</div>
</div>
